NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3305
SERVICE_NAME=SIGNING_NODE_2
NODE_ID=node2

# CACHE_TTL tính bằng milliseconds
REDIS_CACHE_TTL=60000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret