NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3306
SERVICE_NAME=SIGNING_NODE_3
NODE_ID=node3

# CACHE_TTL tính bằng milliseconds
REDIS_CACHE_TTL=60000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret

# Key cho encryption keyPair
ENCRYPTION_KEY=+rcdeSm+eU1jFfb/+voqgRY4MqTeZksFxiC87xDrthU=

DATABASE_URL="mongodb://root:password@localhost:27017/signingNode3Db?authSource=admin&retryWrites=true&w=majority"