NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3305
SERVICE_NAME=SIGNING_NODE_2
NODE_ID=node2

# CACHE_TTL tính bằng milliseconds
REDIS_CACHE_TTL=60000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret

# Key cho encryption keyPair
ENCRYPTION_KEY=C3pc+l2s6NbN08/MRitP5myMWrFkhjKzdVERONL1xak=

DATABASE_URL="mongodb://root:password@localhost:27017/signingNode2Db?authSource=admin&retryWrites=true&w=majority"