NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3302
SERVICE_NAME=IDENTITY

DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=12345678

DATABASE_URL="mongodb://root:password@localhost:27017/identityDb?authSource=admin&retryWrites=true&w=majority"

REDIS_CACHE_TTL=60000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret

JWT_ACCESS_SECRET=8e24WqYssEXRkCKVPXIOtuaWrsL3V1mcgKyyxJClfgc=
JWT_ACCESS_EXPIRES_IN=900

JWT_REFRESH_SECRET=nrNtUoSenkvtgW7eNhthIhGZm2fBppBT83WVouU60oU=
JWT_REFRESH_EXPIRES_IN=604800