NODE_ENV=development
HTTP_PORT=3001
HTTP_GLOBAL_PREFIX=api/v1
TCP_HOST=localhost
TCP_PORT=3301
SERVICE_NAME=user-service

# Rate Limiting: tối đa THROTTLE_LIMIT request mỗi THROTTLE_TTL milliseconds
THROTTLE_TTL=60000
THROTTLE_LIMIT=100