NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3302
SERVICE_NAME=user

DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=12345678

DATABASE_URL="mongodb://root:password@localhost:27017/userdb?authSource=admin&retryWrites=true&w=majority"

REDIS_CACHE_TTL=60000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret