NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3303
SERVICE_NAME=COORDINATOR

IDENTITY_TCP_HOST=localhost
IDENTITY_TCP_PORT=3302

SIGNING_NODES_TCP_NAME=SIGNING_NODE_1,SIGNING_NODE_2,SIGNING_NODE_3
SIGNING_NODES_TCP_HOST=localhost,localhost,localhost
SIGNING_NODES_TCP_PORT=3304,3305,3306

# CACHE_TTL tính bằng milliseconds
REDIS_SESSION_CACHE_TTL=120000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret
REDIS_SIGNING_NODES_PARAM_CACHE_TTL=600000

DATABASE_URL="mongodb://root:password@localhost:27017/coordinatorDb?authSource=admin&retryWrites=true&w=majority"