NODE_ENV=development
TCP_HOST=localhost
TCP_PORT=3303
SERVICE_NAME=COORDINATOR

IDENTITY_TCP_HOST=localhost
IDENTITY_TCP_PORT=3302


DATABASE_URL="mongodb://root:password@localhost:27017/coordinatorDb?authSource=admin&retryWrites=true&w=majority"